.members-list {
  display: flex;
  flex-direction: column;
  gap: 120px;
}
.member-profile {
  display: flex;
  align-items: center;
  gap: 60px;
}
.member-profile:nth-child(even) {
  flex-direction: row-reverse;
}
.member-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.member-text.align-right {
  align-items: flex-end;
  text-align: right;
}
.member-name {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 36px;
}
.name-underline {
  width: 309px;
  height: 3px;
  background-color: var(--color-accent);
}
.member-description {
  font-family: var(--font-secondary);
  font-size: 20px;
  line-height: 1.5;
  color: var(--color-text-secondary);
  max-width: 570px;
}
.member-image-wrapper {
  flex: 1;
  position: relative;
  min-height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.member-photo {
  width: 520px;
  height: 512px;
  object-fit: cover;
  transform: rotate(-18.73deg);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.18);
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}
.member-image-wrapper [class^="deco-"] { position: absolute; }
.deco-1 { top: -20px; left: 0px; }
.deco-2 { top: 24px; left: 41px; }
.deco-3 { top: 7px; right: 85px; }
.deco-4 { bottom: 120px; right: 18px; }
.deco-5 { bottom: -40px; left: 0px; }
.deco-6 { top: -35px; left: 21px; }
.deco-7 { bottom: 130px; left: -113px; }
.deco-8 { bottom: -10px; left: -60px; }
.deco-9 { bottom: -50px; left: 0px; }
.deco-10 { top: -43px; left: 42px; }
.deco-11 { top: -52px; right: 82px; }
.deco-12 { bottom: -50px; right: 29px; }

@media (max-width: 1024px) {
  .member-profile, .member-profile:nth-child(even) {
    flex-direction: column;
    text-align: center;
  }
  .member-text.align-right, .member-text {
    align-items: center;
    text-align: center;
  }
}